[submodule "vendors/cryptopp-cmake"]
	path = vendors/cryptopp-cmake
	url = https://github.com/abdes/cryptopp-cmake
[submodule "vendors/libcotp"]
	path = vendors/libcotp
	url = https://github.com/paolostivanin/libcotp
[submodule "vendors/SQLiteCpp"]
	path = vendors/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "vendors/json"]
	path = vendors/json
	url = https://github.com/nlohmann/json
